*{
    position: relative;
    margin: 0px;
}

.nav{
    position: sticky;
    top: 0px;
    height: 5rem;
    background-color: black;
}
.brand{
    position: absolute;
    top:  1.25rem;
}
.brand h1{
    display: inline;
    color: aliceblue;
}

.links{
    position: absolute;
    display: inline;
    right: 1.25rem;
    top:  50%;
}

.links ul li{
    display: inline;
    margin: 5px;
}
.links ul li a{
    display: inline;
    margin: 5px;
    color: aliceblue;
    text-decoration: none;
}